@import '../constants';

div.queue-viewer {
    background-color: $foreground-dark;
    
    &.queue-viewer-opened {
        box-shadow: -1px 1px 4px 1px $box-shadow-color;
        z-index: 2;
        width: 30%;
    }


    div.queue-viewer-virtualizer-container {
        display: flex;
        flex: 1;
        align-items: stretch;

        div.queue-viewer-virtualizer-block {
            display: block;
            //Slight hack. If this is 100%, then the UI will get into a reflow infinite loop. The AutoSizer will grow to 100% but then the flex parent will 
            //attempt to grow and it repeats. Caused horrible seizure-inducing screen flicker.
            height: 99%;
            width: 99%;
        }
    }

    div.queue-viewer-button {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    div.queue-viewer-row {
        border-bottom: 1px solid $foreground;

        span {
            padding: 10px;
            color: $text-primary;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            &.currently-playing {
                font-weight: bold;
            }
        }

        &:hover {
            background: $accent-green;

            span {
                color: $white;
            }
        }
    }

    div.now-playing-queue-bar {
        height: 100%;
        background-color: $accent-green;
        width: 10px;
    }

}