div.queue-viewer {
    background-color: var(--pds-color-background-elevated);

    &.queue-viewer-opened {
        box-shadow: var(--pds-shadow-md);
        z-index: 2;
        width: 30%;
    }

    div.queue-viewer-header {
        padding: var(--pds-space-xs) var(--pds-space-sm);
    }

    div.queue-viewer-virtualizer-container {
        display: flex;
        flex: 1;
        align-items: stretch;

        div.queue-viewer-virtualizer-block {
            display: block;
            // Slight hack: 100% causes AutoSizer reflow infinite loop (screen flicker).
            height: 99%;
            width: 99%;
        }
    }

    div.queue-viewer-button {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    div.queue-viewer-row {
        border-bottom: 1px solid var(--pds-color-border-subtle);

        span {
            padding: var(--pds-space-sm);
            color: var(--pds-color-text-on-background);
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            &.currently-playing {
                font-weight: var(--pds-font-weight-bold);
            }
        }

        &:hover {
            background: var(--pds-color-primary);

            span {
                color: var(--pds-color-text-on-primary);
            }
        }
    }

    div.now-playing-queue-bar {
        height: 100%;
        background-color: var(--pds-color-primary);
        width: 10px;
    }
}
