.idea/
node_modules/
physicOctoRotaryPhone.iml
.editorconfig
.angular/
dist/
plootunes.db
plootunes.sqlite
*.code-workspace
properties.json
.vscode/extensions.json
*.sqlite

*.iml
.gradle
/src/mobile/local.properties
/src/mobile/.idea/caches
/src/mobile/.idea/libraries
/src/mobile/.idea/modules.xml
/src/mobile/.idea/workspace.xml
/src/mobile/.idea/navEditor.xml
/src/mobile/.idea/assetWizardSettings.xml
.DS_Store
/src/mobile/build
/src/mobile/captures
.externalNativeBuild
.cxx
local.properties
