{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "semi": false,
  "printWidth": 100,
  "plugins": ["prettier-plugin-css-order"],
  "cssDeclarationSorterOrder": "alphabetical"
}
