@import '../constants';


div.p-header {
    display: flex;
    background-color: $accent-green;
    box-shadow: 0px 3px 3px $box-shadow-color;

    div.widgets-container{
        padding: 10px;
    }

    div.label-container {
        flex-grow: 1;
        justify-content: stretch;
    
        h1.p-header {
            flex-grow: 1;
            background-color: $accent-green;
            padding: 25px 10px;
            margin: 0px;
        }
    }
    
}