@import '../constants';

div.p-button-container {
    display: flex;
    flex-grow: 0;
    align-items: center;
    border: 1px solid $accent-green;
    border-radius: 20px;
    padding: 5px;
    background: $accent-green;

    &:hover {
        box-shadow: 1px 1px 5px 1px #979797;

        button.p-button-widget {
            color: $white;
        }

        svg {
            path {
                fill: $white;
                stroke: $white !important;
            }
        }
    }

    button.p-button-widget {
        color: $text-primary;
        background: $accent-green;
        border: none;
        font-weight: 600;
        font-family: 'Roboto';
        font-size: 20px;
        background-size: cover;
        background-repeat: none;
        background-position: center;
        max-width: 100px;
        max-height: 100px;
    }

    div.p-button-icon {
        display: flex;
        justify-content: center;
        align-items: center;

        &.p-button-small{
            max-height: 20px;
            max-width: 20px;
        }

        &.p-button-medium{
            max-height: 35px;
            max-width: 35px;
        }

        &.p-button-large{
            max-height: 60px;
            max-width: 60px;
        }
    }


    svg {
        path {
            fill: $text-primary;
            stroke: $text-primary !important;
        }
    }
}