h1.album-song-list-title {
    color: var(--pds-color-text-on-background);
    margin: 0;
}

div.albums-wrap-container {
    padding: var(--pds-space-sm);
    display: flex;
    flex-wrap: wrap;

    div.p-tile {
        &:hover {
            span.album-name,
            span.artist-name {
                color: var(--pds-color-primary);
            }
        }
    }

    span.album-name {
        color: var(--pds-color-text-on-background);
        font-weight: var(--pds-font-weight-semibold);
        font-size: var(--pds-font-size-md);
        text-overflow: ellipsis;
        word-break: break-word;
        margin-top: var(--pds-space-xs);
    }

    span.artist-name {
        color: var(--pds-color-text-muted);
        font-weight: var(--pds-font-weight-semibold);
        font-size: var(--pds-font-size-sm);
    }
}

div.album-songs-cover {
    height: 100px;
    width: 100px;

    img {
        height: 100px;
        width: 100px;
    }
}

div.album-details-col {
    margin-left: var(--pds-space-sm);

    div.album-sub-details {
        font-size: var(--pds-font-size-xl);
        color: var(--pds-color-text-muted);
    }
}
