@import '../constants';
div.artist-wrap-container{
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;

    div.artist-tile{
        padding-top: 15px;
        padding-bottom: 15px;

        strong.artist-name{
            padding-top: 10px;
        }

        &:hover{
            strong.artist-name{
                color: $accent-green;
            }
        }
    }
}

