div.artist-wrap-container {
    display: flex;
    flex-direction: column;
    padding: var(--pds-space-sm);

    div.artist-tile {
        padding-top: var(--pds-space-sm);
        padding-bottom: var(--pds-space-sm);

        strong.artist-name {
            padding-top: var(--pds-space-xs);
            color: var(--pds-color-text-on-background);
        }

        &:hover strong.artist-name {
            color: var(--pds-color-primary);
        }
    }
}
