div.player-main {
    display: flex;
    box-shadow: var(--pds-shadow-lg);
    flex-direction: column;
    flex-grow: 1;

    div.player-controls {
        border-top: 1px solid var(--pds-color-border-subtle);
        display: flex;
        flex-grow: 1;
        justify-content: center;

        div.player-controls-row {
            padding: var(--pds-space-sm);
        }
    }
}
