$main-background: #f0f0f0;
$text-primary: #494949;
$text-secondary: #6b6b6b;
$accent-green: #B7E1CCC4;
$border-style: 1px solid #c9c9c9;
$border-radius: 5px;
$box-shadow-color: #979797;
$highlight-grey: #636363;