@import './constants';

@font-face {
   font-family: 'Roboto';
   src: url('../assets/font/roboto/Roboto-Regular.ttf') format('truetype');
 }

html, body{
   height:100%;
   width: 100%;
   margin: 0;
   overflow: hidden;
   font-family: 'Roboto';
   user-select: none;
}

#root{
   height:100%;
   width: 100%;
}

button{
   
}

h1, h2, h3, h4, h5, h6 {
   color: $text-primary
}

.p-main-container{
    display: flex;
    flex-grow: 1;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: column;
    background-color: $main-background;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.p-overlay-view{
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   position: absolute;
   display: flex;
   justify-content: stretch;
   align-items: stretch;
   flex-direction: column;
   background-color: $main-background;
   overflow-y: auto;
   height: 100%;
   width: 100%;
   padding: 10px;
   z-index: 1;
}

div.p-row{
   display: flex;
   justify-content: center;
   align-items: center;
}

div.p-col{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

div.p-row-flex-start{
   justify-content: flex-start;
}

div.p-row-flex-end{
   justify-content: flex-end;
}

div.p-row-space-between{
   justify-content: space-between;
}

div.p-row-align-top{
   align-items: flex-start;
}

div.p-row-align-end{
   align-items: flex-end;
}

div.p-row-align-stretch{
   align-items: stretch;
}

div.p-tile {
   flex: 0 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   margin: 5px;
   max-width: 100px;

   &:hover {
       div.p-tile-image {
           box-shadow: 1px 1px 5px 1px #979797;
       }

       cursor: pointer;
   }

   div.p-tile-image {
      border: $border-style;
      border-radius: 5px;
      overflow: hidden;
   }
   
   img {
      height: 100px;
      width: 100px;
      background-size: 'cover';
      background-position: 'center';
   }
}

