div.p-left-nav-container {
    border-right: 1px solid #c9c9c9;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 1px 1px 4px 1px #979797;
    margin-right: 10px;
    margin-top: 3px;

    div.link-container {
        a {
            color: #494949;
            font-weight: 500;
            text-decoration: none;
            font-size: 25px;
    
            &:hover{
                color: #71c294c4;
            }
        }  
    }

    div.nav-footer{
        div.nav-footer-logo{
            height: 50px;
            width: 50px;
            border-radius: 25px;
            border: 1px solid #71c294c4;
            overflow: hidden;

            img{
                height: 50px;
                width: 50px;
            }
        }
    }  
}