@import '../constants';

div.p-left-nav-container {
    border-right: $border-style;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 1px 1px 4px 1px $box-shadow-color;
    margin-right: 10px;
    margin-top: 3px;

    div.link-container {
        a {
            color: $text-primary;
            font-weight: 500;
            text-decoration: none;
            font-size: 25px;
    
            &:hover{
                color: $accent-green;
            }
        }  
    }

    div.nav-footer{
        div.nav-footer-logo{
            height: 50px;
            width: 50px;
            border-radius: 25px;
            border: 1px solid $accent-green;
            overflow: hidden;

            img{
                height: 50px;
                width: 50px;
            }
        }
    }  
}